<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Figma</title>
  <link rel="stylesheet" href="./styles/header.css">
  <link rel="icon" type="image/png" sizes="192x192" href="image/favicon.ico"/>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+KR:wght@100..900&display=swap"
        rel="stylesheet"/>
</head>
<body>
<div class="outer-header">
  <header class="header">
    <div class="inner-header">
      <div class="header-left">
        <a href="" class="logo">
          <svg xmlns="http://www.w3.org/2000/svg"
               width="26"
               height="40"
               fill="none"
               viewBox="0 0 480 720"
               aria-label="홈페이지">
            <path fill="#24CB71" d="M0 600c0-66.274 53.726-120 120-120h120v120c0 66.274-53.726 120-120 120S0 666.274 0 600"/>
            <path fill="#FF7237" d="M240 0v240h120c66.274 0 120-53.726 120-120S426.274 0 360 0z"/>
            <circle cx="359" cy="360" r="120" fill="#00B6FF"/>
            <path fill="#FF3737" d="M0 120c0 66.274 53.726 120 120 120h120V0H120C53.726 0 0 53.726 0 120"/>
            <path fill="#874FFF" d="M0 360c0 66.274 53.726 120 120 120h120V240H120C53.726 240 0 293.726 0 360"/></svg>
        </a>
        <nav>
          <ul class="header-left-nav">
            <li>
              <div class="header-left-nav-box">
                <button class="header-left-nav-box-btn">
                  <span class="nav-highlight">제품</span>
                  <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M18.4 9.4 12 15.9 5.6 9.4l.8-.8L12 14.2l5.6-5.6z"/>
                  </svg>
                </button>
              </div>
            </li>
            <li>
              <div class="header-left-nav-box">
                <button class="header-left-nav-box-btn">
                  <span class="nav-highlight">솔루션</span>
                  <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M18.4 9.4 12 15.9 5.6 9.4l.8-.8L12 14.2l5.6-5.6z"/>
                  </svg>
                </button>
              </div>
            </li>
            <li>
              <div class="header-left-nav-box">
                <button class="header-left-nav-box-btn">
                  <span class="nav-highlight">커뮤니티</span>
                  <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M18.4 9.4 12 15.9 5.6 9.4l.8-.8L12 14.2l5.6-5.6z"/>
                  </svg>
                </button>
              </div>
            </li>
            <li>
              <div class="header-left-nav-box">
                <button class="header-left-nav-box-btn">
                  <span class="nav-highlight">리소스</span>
                  <svg class="dropdown-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M18.4 9.4 12 15.9 5.6 9.4l.8-.8L12 14.2l5.6-5.6z"/>
                  </svg>
            </li>
            <li>
              <span class="nav-highlight">가격</span>
            </li>
          </ul>
        </nav>
      </div>
      <ul class="header-right">
        <li>
          <a href="" class="ask-to-team">
            <span class="nav-highlight">영업팀에 문의</span>
          </a>
        </li>
        <li class="header-right-btn">
          <a href="login.html" class="login">
                <span>
                  <svg class = "arrow-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" aria-hidden="true"><path fill="currentColor" fill-rule="evenodd" d="M12.522 4.25 20 12l-7.478 7.75-.733-.709 6.302-6.531H4v-1.02h14.09L11.79 4.959z" clip-rule="evenodd"></path></svg>
                  <span class="button-text">로그인</span>
                </span>
          </a>
        </li>
        <li class="header-right-btn">
          <a href="" class="login now-start">
                <span>
                  <svg class = "arrow-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" aria-hidden="true"><path fill="currentColor" fill-rule="evenodd" d="M12.522 4.25 20 12l-7.478 7.75-.733-.709 6.302-6.531H4v-1.02h14.09L11.79 4.959z" clip-rule="evenodd"></path></svg>
                  <span class="button-text">지금 무료 시작하기</span>
                </span>
          </a>
        </li>
        <button class="hamburger-icon-box">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M21 16H3v-1h18zM21 9H3V8h18z" clip-rule="evenodd"></path></svg>
        </button>
      </ul>
  </header>
</div>
</body>
</html>
