/* root setting */
:root {
  /* font settings */
  --f-font-sans: '__figmaSans_a26a19', '__figmaSans_Fallback_a26a19', SF Pro Display, system-ui, helvetica, sans-serif;

  /* overlay settings */
  --f-statsig-overlay: #FFFFFF;

  /* color settings */
  --f-bg-color: #000000;
  --f-text-color: #000000;
  --f-list-header-color: rgba(255, 255, 255, 0.6);
  --f-icon-bg-color: rgba(255, 255, 255, 0.24);
  --f-badge-text-color: #FFFFFF;
  --f-badge-bg-color: rgba(255, 255, 255, 0.16);

  /* width settings */
  --f-col-width: calc(100vw - var(--f-gutter) * 2);

  /* height settings */
  --f-vh: 1vh;

  /* padding settings */
  --f-lego-block-padding: 5rem;

  /* columns settings */
  --f-columns: 1;
  --f-gutter: 24px;

  /* contents settings */
  --f-max-content-width: 1440px;
}

/* width: 1920px */
@media (min-width) {
  :root {
    --f-lego-block-padding: 10rem;
    --f-max-content-width: 1680px
  }
}

@media (min-width: 1920px) {
  .button-text {
    font-size: 1.25rem;
    letter-spacing: -0.00625rem;
  }
}

/* width 1280px */
@media (min-width: 1280px) {
  .outer-header {
    display: block;
  }
}

@media (min-width: 960px) {
  :root {
    --f-lego-block-padding: 7.5rem;
    --f-columns: 48;
    --f-gutter: calc(var(--f-col-width) * 2);
  }
}

@media (min-width: 768px) {
    :root {
        --f-columns: 24;
    }
}

@media (min-width: 560px) {
    :root {
        --f-columns: 12;
        --f-col-width: calc(min(100vw, var(--f-max-content-width)) / var(--f-columns));
        --f-gutter: var(--f-col-width);
    }
}

@media (min-width: 560px) {
    .now-start {
        display: block;
    }
}

html {
  /* font */
  font-family: var(--f-font-sans) ;
  font-style: normal;
  line-height: 1.45;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;

  /* color */
  color: #000000;

  /* sizing */
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, svg, video {
  max-width: 100%;
  display: block;
}

/* body */
body {
  overflow: auto;
  padding-bottom: 0px;
  margin: 0;
}

.app {
  background-color: #FFFFFF;
}
/* logo */
.logo {
  box-sizing: border-box;
  width: 24px;
  height: 40px;
  margin-right: 24px;
}

/* header */
.outer-header {
  position: relative;
  height: 81px;
  display: block;
}

.header {
  /* layout */
  position: fixed;
  align-items: center;
  inset: 0 0 auto;
  display: flex;
  width: 100%;
  height: 81px;
  background: #ffffff;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  z-index: 25;

  /* font */
  letter-spacing: -0.00875rem;
  color: var(--f-text-colorm #000000);

  /* animation */
  transition: background 0.4s cubic-bezier(.8,0,.2,1);
}

.inner-header {
  /* layout */
  display: flex;
  justify-content: space-between;
  width: calc(min(var(--f-max-content-width), 100vw) - var(--f-gutter) * 2);
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-block-end: 1rem;
  padding-block-start: 1rem;
  color: var(--f-text-color, #000000);
}

/* header left */
.header-left {
  /* layout */
  display: flex;
  align-items: center;
  min-height: 42px;
  letter-spacing: -0.00875rem;
}

.header-left-nav {
  /* layout */
  align-items: center;
  display: flex;
  gap: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-left-nav li {
  display: list-item;
}

.header-left-nav-box {
  position: static;
  display: flex;
  align-items: center;
}

.header-left-nav-box-btn {
  appearance: none;
  margin: 0;
  background: transparent;
  border: 0;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-highlight {
  /* font */
  font-optical-sizing: auto;
  font-size: 1.125rem;
  line-height: 1.4;
  font-weight: 330;
  font-variation-settings: "wdth" 98, "wght" 330;
  margin: 0;

  /* layout */
  position: relative;
  display: inline;
}

.nav-highlight::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  left: 0;
  bottom: 0;
  transform: scaleY(0);
  transition: transform 0.25s cubic-bezier(.8, 0, .2, 1);
}

.nav-highlight:hover::after {
  transform: scaleX(1);
}

.header-left-nav li:hover::after {
  transform: scaleY(1);
}

/* header right */
.header-right {
  /* layout */
  align-items: center;
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  min-height: 3.0625rem;
  padding: 0;
  margin: 0;

  /* font */
  list-style: none;
}

.ask-to-team {
  /* layout */
  padding: 0.5rem;
  margin-right: 0.25rem;

  /* font */
  text-decoration: none;
  font-optical-sizing: auto;
  font-size: 1.125rem;
  font-weight: 330;
  line-height: 1.4;
  font-variation-settings: "wdth" 98, "wght" 330;
  color: #000000;
}

.login {
  /* layout */
  display: inline-flex;
  justify-content: center;
  border: none;
  border-radius: 8px;
  padding: 0.75rem 1.3125rem;
  background: transparent;
  box-shadow: inset 0 0 0 1px #000000;

  /* font */
  color: #000000;
  text-decoration: none;

  /* animation */
  transition: border-radius 160ms ease-out;
}

.login > span {
  position: relative;
}

.arrow-icon {
  /* layout */
  width: 21px;
  height: 21px;
  display: inline-block;
  position: absolute;
  inset: 50% auto auto -23px;
  translate: 0 -50%;
  pointer-events: none;
  opacity: 0;
  
  /* 애니메이션 */
  transition:
    left 0.3s ease,
    opacity 0.3s ease,
    transform 0.3s ease;
  transform: translateX(-2px);
}

.login:hover .arrow-icon {
  opacity: 1;
  transform: translateX(5px);
}

.button-text {
  /* layout */
  display: inline-block;
  margin: 0;

  /* font */
  font-optical-sizing: auto;
  line-height: 1.4;
  font-weight: 480;
  font-variation-settings: "wdth" 98, "wght" 480;
  font-size: 1.125rem;
  /* 애니메이션 */
  transition:
    transform 0.3s ease;
  transform: translateX(0px);
}

.login:hover .button-text {
  transform: translateX(8px);
}

.now-start {
  /* layout */
  border: none;
  border-radius: 8px;
  padding: 0.75rem 1.3125rem;
  background-color: #000000;

  /* font */
  color: #FFFFFF;
  text-decoration: none;
  font-size: 1rem;
  
  /* animation */
  transition: border-radius 160ms ease-out;
}

.now-start:hover {
  border-radius: 0;
}

.login:hover {
  border-radius: 0;
}



/* .header-right > .ask-to-team {
  position: relative;
  height: auto;
}

.header-right > .ask-to-team::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.3s ease;
}

.header-right > .ask-to-team:hover::after{
  transform: scaleY(1);
} */



/* main */
main {
  display: flex;
  flex-direction: column; /* 추가 */
  justify-content: center;
  align-items: center; /* 선택 사항: 가운데 정렬 */
}

/* hero section */
.hero-content {
  margin: 0 auto;
  width: 1540px;
}

.hero-primary {
  display: grid;
  grid-template-areas: "text illu";
  grid-template-columns: 1fr 1fr;
  column-gap: calc(var(--f-col-width) * 2);
}

.hero-secondary {
  grid-area: text;
}

.hero-illu {
  grid-area: illu;
  margin-left: 50px;
}

.illu-inner {
  position: relative;
  width: 100%;
  height: auto;
}

.illu-inner img {
  position: absolute;
  width: 800px;
  z-index: 1;
}

.hero-text {
  grid-area: text;
  font-optical-sizing: auto;
  display: block;
  width: 770px;
  margin-top: 64px;
  margin-bottom: 120px;
}

.hero-text > h1 {
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 24px;
  text-wrap: balance;
  font-size: 86px;
  letter-spacing: -1.72px;
  font-weight: 400;
  font-variation-settings: "wdth" 96, "wght" 400;
}

.hero-text > p {
  font-size: 26px;
  letter-spacing: -0.26px;
  font-variation-settings: "wdth" 98, "wght" 340;
  margin: 0 auto;
  font-weight: 340;
}

.hero-btn {
  margin-top: 32px;
}

.hero-btn-inner {
  display: flex;
  gap: 16px 24px;
}

.hero-btn-inner > a {
  text-decoration: none;
  padding: 12px 21px 12px 21px;
}

.hero-now-start {
  display: flex;
  background-color: #000000;
  color: #ffffff;
  border-radius: 10px;
  transition: border-radius 160ms ease;
}

.hero-now-start:hover {
  border-radius: 0px;
}

.hero-ask-to-team {
  display: flex;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2.25px solid;
  color: #000000;
  transition: border-radius 160ms ease;
}

.hero-ask-to-team:hover {
  border-radius: 0px;
}

.btn-inner {
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
}

.hero-image {
  margin-bottom: 32px;
}

.hero-image-inner > img {
  width: 1540px;
  height: 810px;
  position: relative;
  z-index: 2;
}

.hero-tab-list {
  display: flex;
  margin-bottom: 16px;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  max-width: 1680px;
}

.hero-tab-list > button {
  padding: 8px 18px 10px 18px;
  background-color: rgba(0,0,0, 8%);
  font-size: 18px;
  letter-spacing: -0.1px;
  border: 0;
  color: #000000;
  font-optical-sizing: auto;
  line-height: 1.4;
  font-weight: 480;
  font-variation-settings: "wdth" 98, "wght" 480;
  border-radius: 50px;
  transition: background 160ms ease-out, border-radius 160ms ease-out;
}

.hero-desc-inner {
  display: flex;
  flex-direction: column;
  align-items: center;  /* 수평 중앙 정렬 */
}

.hero-desc-text {
  scroll-margin-top: 80px;
  box-sizing: inherit;
  text-align: center;
  margin-inline: auto;
  font-size: 26px;
  letter-spacing: -0.26px;
  font-weight: 340px;
  font-variation-settings: "wdth" 98, "wght" 340;
  font-optical-sizing: auto;
  margin: 0;
  color: #000000;
  width: 100%;
  text-wrap: pretty;
}

.hero-desc-btn {
  margin: 32px 0px 0px 0px;
  display: inline-flex;
  padding: 0;
  position: relative;
  text-decoration: none;
  color: #000000;
  text-underline-offset: 5px;
  text-align: center;
  
  font-style: normal;
  font-size: 20px;
  font-optical-sizing: auto;
  line-height: 1.3;
  font-weight: 340; 
  font-variation-settings: "wdth" 98, "wght" 340;
  border-bottom: 1px solid;
}

/* second section */
.sec-section {
  padding: 96px 0px 160px 0px;
  display: block;
  width: 1920px;
}

.sec-section-box {
  width: 1520px;
  margin: 0px 190px;
  line-height: 1.45;
}

.sec-box-fig {
  margin: 0px;
}

.sec-section-box-inner{
  display: grid;
  gap: 80px;
  align-items: end;
  grid-template-columns: 900px 450px;
  margin: 0;
  column-gap: 130px;
}

.sec-box-image > svg {
  color: #B98E01;
  width: 112px;
  height: 96px;
}

.sec-box-image > blockquote {
  margin: 48px 0px;
  margin-bottom: 0px;
}

.sec-box-image-text {
  font-size: 3.5rem;
  line-height: 1.1;
  letter-spacing: -0.06rem;
  font-weight: 400;
  font-variation-settings: "wdth" 96, "wght" 400;
  margin: 0;
}

.sec-section-box-inner > figcaption {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start; /* 또는 center - 필요에 따라 조정 */
  gap: 16px; /* GitHub 로고와 아래 정보 사이 간격 */
}

.sec-section-git-logo {
  height: 40px;
}

.figcaption-de-leader {
  display: flex;
  align-items: center;
  gap: 12px;
}

.figcaption-text {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.figcaption-text .figcaption-text-name {
  font-weight: 600;
  margin: 0;
}

.figcaption-text .figcaption-text-title {
  font-size: 14px;
  margin: 0;
  color: #333;
}

.avatar-wrapper {
  position: relative;
  width: 70px;
  height: 70px;
}

.avatar-border {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 2px;
  box-sizing: border-box;
  background: repeating-conic-gradient(#d9a400 0deg 15deg, transparent 15deg 25deg);
  animation: spin-border 10s linear infinite;
  z-index: 1;
}

.leader-photo {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 2;
}

/* 애니메이션 정의 */
@keyframes spin-border {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* banner section */
.banner-section {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  padding: 40px 0px;
}

.banner-box {
  display: flex;
  animation: scrollLeft 60s linear infinite;
  gap: 80px;
}

@keyframes scrollLeft {
  0% { transform: translateX(0);}
  100% { transform: translateX(-100%);}
}

/* third section */
.thi-section {
  background-color: #CB9FD2;
  padding: 0;
  padding-top: 120px;
}

.thi-section-body {
  margin: 0px 96px;
}

.thi-section-title-box {
  margin-bottom: 48px;
  width: 650px;
  height: 150px;
}

.thi-section-title {
  font-size: 2.75rem;
  line-height: 1.1;
  letter-spacing: -0.0275rem;
  font-weight: 400;
  font-variation-settings: "wdth" 96, "wght" 400;
  display: inline;
}

.thi-section-subtitle {
  font-size: 2.75rem;
  line-height: 1.1;
  letter-spacing: -0.0275rem;
  margin: 0;
  display: inline;
  font-weight: 100 !important;
}

.thi-section-grid-box {
  display: grid;
  grid-template-columns: 516px;
  gap: 240px;
  text-rendering: optimizeLegibility;
}

.phone-image {
  width: 688px;
  height: 558px;
}

.thi-section-list-box {
  margin-bottom: 4rem;
  width: 600px;
}

.thi-section-img-box {
  grid-column: 2;
}

.thi-section-list-box > div {
  border-bottom: 1px solid black;
  padding: 24px 0px;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 98, "wght" 330;
  margin: 0;
  color: var(--f-text-color, #000000);
  font-size: 1.5rem;
  line-height: 1.35;
  letter-spacing: -0.015rem;
  font-weight: 540;
}

.thi-section-list-box {
  padding: 0;
}

.thi-section-text {
  margin: 0;
}

.thi-section-list > a {
  text-decoration: none;
  border-bottom: 1px solid black;
}

.thi-section-list > a > span{
  color: #000000;
}

.thi-text {
  font-size: 24px;
  font-weight: 540;
  font-variation-settings: "wdth" 98, "wght" 540;
  letter-spacing: -0.015rem;
  line-height: 1.35;
  font-optical-sizing: auto;
}

.list-icon {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.thi-section-text > div {
  display: flex;
  align-items: center;
}

.thi-section-subtext {
  margin-top: 8px;
  margin-bottom: 10px;
}

.thi-section-text-box {
  overflow: hidden;
}

.thi-section-text-box span{
  position: relative;
  right: 40px;
  transition: right .5s ease;
}

.thi-section-text-box svg {
  position: relative;
  right: 32px;
  transition: right .5s ease;
}

.thi-section-text-box:hover span{
  position: relative;
  right: 0px;
}

.thi-section-text-box:hover svg {
  position: relative;
  right: 0px;
}

/* fourth section */
.four-section {
  padding: 80px 0px;
  background-color: #F3FFE3;
  overflow: hidden;
  height: 1000px;

}

.four-section-box {
  margin: 0px 58px;
}

.four-section-text-box {
  margin-bottom: 32px;
  width: 745px;
  height: 150px;
}

.four-section-text-box > h2 {
  font-size: 2.75rem;
  line-height: 1.1;
  letter-spacing: -0.0275rem;
  font-weight: 400;
  font-variation-settings: "wdth" 96, "wght" 400;
  font-optical-sizing: auto;
  margin: 0;
  color: #000000;
  display: inline;
}

.four-section-text-box > p {
  font-size: 2.75rem;
  line-height: 1.1;
  letter-spacing: -0.0275rem;
  font-optical-sizing: auto;
  margin: 0;
  color: var(--f-text-color, #000000);
  display: inline;
  font-weight: lighter;
  font-variation-settings: "wdth" 96, "wght" 300 !important;
}

.four-section-sub {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
}

.four-section-sub > p {
  font-size: 1.25rem;
  letter-spacing: 0.0375rem;
  font-optical-sizing: auto;
  text-transform: uppercase;
  font-weight: 400;
  font-variation-settings: "wdth" 100, "MONO" 100, "wght" 400;
  line-height: 1.3;
}


.four-section-btn-box{
  display: flex;
  gap: 10px;
}

.four-section-arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.four-section-arrow-btn svg {
  width: 30px;
  height: 30px;
}

.four-section-slides-box {
  margin: 0px 70px;
  display: flex;
}

.four-section-slide {
  padding: 0px 0px 0px 35px;
  width: 665px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.four-section-slide > img {
  margin-bottom: 24px;
}

.four-section-slide-text > h3{
  display: inline;
  margin: 0;
  font-size: 1.625rem;
  line-height: 1.35;
  letter-spacing: -0.01625rem;
  font-weight: 540;
  font-variation-settings: "wdth" 98, "wght" 540;
}

.four-section-slide-text > p {
  display: inline;
  font-size: 1.625rem;
  font-weight: 340;
  letter-spacing: -0.01625rem;
  font-variation-settings: "wdth" 98, "wght" 340;
}

.four-section-slide-text > a {
  display: block;
  text-decoration: none;
}

.btn-builtin {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.btn-builtin > span {
  color: #000000;
  font-size: 20px;
  margin-left: 5px;
  border-bottom: 1px solid black;
}

.fif-section {
  background-color: #E4FF97;
  padding: 120px 0px;
  width: 100%;
  height: 100%;
}

.fif-section-box {
  margin: 0px 200px;
}

.fif-section-box-text {
  margin-bottom: 80px;
  width: 840px;
  
}

.fif-section-box-text > h2 {
  font-size: 3.5rem;
  line-height: 1.1;
  letter-spacing: -0.0525rem;
  font-weight: 400;
  font-variation-settings: "wdth" 96, "wght" 400;
  margin: 0;
  display: inline;
}

.fif-section-box-text > p {
  font-size: 3.5rem;
  line-height: 1.1;
  letter-spacing: -0.0525rem;
  margin: 0;
  display: inline;
  font-weight: 100;
}

.fif-section-video-box > img{
  width: 1320px;
}

.fif-section-sub-title-box {
  display: flex;
  gap: 30px;
  margin-top: 48px;
}

.fif-section-sub-title > h3 {
  font-size: 1.5rem;
  line-height: 1.35;
  letter-spacing: -0.015rem;
  font-weight: 520;
  font-variation-settings: "wdth" 98, "wght" 520;
  margin: 0;
  display: inline;
}

.fif-section-sub-title > p {
  margin: 0;
  display: inline;
  font-weight: 340;
  font-variation-settings: "wdth" 98, "wght" 340;
  font-size: 1.5rem;
  letter-spacing: -0.0075rem;
}

/* sixth section */
.six-section-box-image > svg{
  color: #33DFDF;
}

.six-section-pata-logo {
  height: 40px;
}

.six-section-border {
  color: #33DFDF;
}

/* seventh section */
.sev-section {
  background-color: #000000;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  padding: 120px 0px;
}

.sev-section-box {
  margin: 0px 200px;
}

.sev-section-text {
  font-size: 3.5rem;
  line-height: 1.1;
  letter-spacing: -0.0525rem;
  font-weight: 400;
  font-variation-settings: "wdth" 96, "wght" 400;
  margin: 0;
  margin-bottom: 48px;
  color: #ffffff;
}
.sev-section-subtitle {
  display: flex;
  gap: 1rem;
}
.sev-section-subtitle > a{
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
  line-height: 1.3;
  letter-spacing: -0.02rem;
  font-weight: 400;
  font-variation-settings: "wdth" 98, "wght" 400;
  border-bottom: 1px solid #ffffff;
}

.sev-section-subtitle > svg {
  width: 2.5rem;
  height: 2.5rem;
  transition: transform 250ms ease-in-out;
}

.sev-section-subtitle > svg:hover {
 transform: rotate(90deg);
}

.sev-section-subtitle > svg:nth-of-type(1) {
  color: #4D49FC;
}

.sev-section-subtitle > svg:nth-of-type(2) {
  color: #FF7237;
}

.sev-section-subtitle > svg:nth-of-type(3) {
  color: #FF01E6;
}

/* footer */
.footer {
  width: 100%;
  height: 100%;
  padding-block: 7.5rem;
  background-color: #000000;
}

.footer-box {
  margin: 0px 200px;
  display: grid;
  grid-template-columns: calc(var(--f-col-width) * 13) repeat(4, calc(var(--f-col-width) * 6));
  column-gap: calc(var(--f-col-width) * 2);
  width: calc(min(var(--f-max-content-width), 100vw) - var(--f-gutter) * 2);
}

.box-1st {
  grid-column: 1 / 2;
  margin-bottom: 0;
}

.box-1st > a {
  color: var(--f-badge-text-color);
  text-decoration: none;
  font-size: 3.125rem;
}

.box-1st-ul {
  display: flex;
  margin-top: 2rem;
  padding: 0;
  gap: 14px;
}

.box-1st-ul > li {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  list-style: none; /* li 요소의 기본 스타일 제거 */
  background-color: var(--f-icon-bg-color);
}

.box-1st-ul-link {
  display: flex;
  color: var(--f-text-color, #000000);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.box-1st-ul-link > svg {
  display: flex;
  align-items: center;
}
.box-1st-ul-link svg {
  display: block; /* inline-block이면 여백 생길 수 있음 */
  width: 16px;
  height: 16px;
}

.foot-desc-title {
  letter-spacing: 0.03rem;
  font-optical-sizing: auto;
  font-weight: 400;
  font-variation-settings: "wdth" 100, "MONO" 100, "wght" 400;
  font-size: 1rem;
  line-height: 1.3;
  color: #929292;
  margin: 0;
  margin-bottom: 16px;
}

.foot-desc-ul > li {
  list-style: none;
  margin: 0;
  color: #FFFFFF;
  margin-top: 12px;
}

.foot-desc-ul > li > a {
  text-decoration: none;
  color: #FFFFFF;

}

.foot-desc-ul {
  padding: 0;
  font-weight: 320;
  font-variation-settings: "wdth" 98, "wght" 320;
}

